body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #009688;
    margin-top: 40px;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

a {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #333333;
    padding: 10px 20px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}
